[access]
	inheritFrom = Public-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group gerrit-verifiers
	submit = group google/gerritcodereview-maintainers@googlegroups.com
[project]
	description = Web homepage for the Gerrit Code Review project.
[submit]
	action = rebase if necessary
