[access]
	inheritFrom = Public-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -2..+2 group homepage-authors
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	submit = group homepage-authors
	create = group google/gerritcodereview-maintainers@googlegroups.com
	removeReviewer = group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group gerrit-verifiers
	label-Verified = -1..+1 group homepage-authors
[project]
	description = Source for Gerrit Code Review homepage at https://www.gerritcodereview.com/
[submit]
	action = rebase if necessary
[access "refs/heads/master"]
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	copyValue = +1
	copyValue = +2
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
