[access]
	inheritFrom = Public-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -2..+2 group homepage-authors
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	submit = group homepage-authors
[project]
	description = Web homepage for the Gerrit Code Review project.
[submit]
	action = rebase if necessary
