<header class="site-header">
  <div class="wrapper">
    <div class="site-header-content">
      <div class="site-title">
        <a href="{{ "/" | relative_url }}">
          <img src="/images/gerrit-logo.svg" alt="Gerrit Logo" class="header-logo">
          {{ site.title | escape }}
        </a>
      </div>
      
      <nav class="site-nav">
        <ul>
          {% for item in site.data.content.topnav %}
          {% if item.folderitems %}
          <!-- items with drop-downs handled here -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">{{ item.title }}<i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              {% for folderitem in item.folderitems %}
              {% if folderitem.external_url %}
              <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
              {% elsif page.url contains folderitem.url %}
              <li class="dropdownActive"><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
              {% else %}
              <li><a href="{{folderitem.url}}">{{folderitem.title}}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <!-- items without drop-downs handled here -->
          {% if item.external_url %}
          <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
